<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simple Support</title>
    <meta name="description" content="">
    <meta name="author" content="">

	  <title>SimpleSupport</title>
	  <%= stylesheet_link_tag "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
		
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
    
    <!-- Scripts: inc. TableSorter -->
    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script>
    <!-- // <script src="assets/js/google-code-prettify/prettify.js"></script> -->
    <!-- // <script src="assets/js/application.js"></script> -->
  </head>

  <body>


    <!-- Top Nav -->
   <div class="topbar">
    <div class="fill">
        <div class="container">
            <h3><a href="#">Angry Birds</a></h3>
            <ul>
                <li class="active"><a href="#"><img src="../../Design/Icons/icons/Classic/PNG/16/73.png" width="16" height="16" alt="111">Queues</a></li>
                <li><a href="#"><img src="../../Design/Icons/icons/Classic/PNG/16/9.png" width="16" height="16" alt="9">Forums</a></li>
                <li><a href="#"><img src="../../Design/Icons/icons/Classic/PNG/16/122.png" width="16" height="16" alt="122">Knowledge Base</a></li>
                <li><a href="#"><img src="../../Design/Icons/icons/Classic/PNG/16/24.png" width="16" height="16" alt="24">Widgets</a></li>
          </ul>
          <form action="">
            <input type="text" placeholder="Search" />
          </form>
          <ul class="nav secondary-nav">
            <li class="menu">
                <a href="#" class="menu">Account</a>
                <ul class="menu-dropdown">
                    <li><a href="#">Dolor sit</a></li>
                    <li><a href="#">Amet Consequeter</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Enough with the Latin</a></li>
                </ul>
            </li>
          </ul>
        </div>
    </div>
	</div>

<div class="container">

<div class="row">
  <div class="well navigation">
    <a href="#" class="btn large ticketnav"><div class="ticketnavbutton">12</div>New</a>
    <a href="#" class="btn large ticketnav"><div class="ticketnavbutton">3</div>Pending</a>
    <a href="#" class="btn large ticketnav"><div class="ticketnavbutton">57</div>Important</a>
    <a href="#" class="btn large ticketnav"><div class="ticketnavbutton">376</div>Closed</a>
    <a href="#" class="btn large ticketnav create"><img src="../../Design/Icons/icons/Classic/PNG/16/13.png" width="16" height="16" alt="13">Create Ticket</a>
  </div>
<div class="span14">
<!-- Table -->
<table class="zebra-striped" id="sortTableExample">
    <thead>
        <tr>
            <th><input type="checkbox" name="optionsCheckboxes" value="option1"></th>
            <th>Date</th>
            <th>ID</th>
            <th>User</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>43</td>
            <td>John Appleseed</td>
            <td>Why isn't this working?</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>44</td>
            <td>Joe Montana</td>
            <td>Help me!</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>45</td>
            <td>Jack</td>
            <td>Please cancel my account</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>43</td>
            <td>John Appleseed</td>
            <td>Why isn't this working?</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>44</td>
            <td>Joe Montana</td>
            <td>Help me!</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>45</td>
            <td>Jack</td>
            <td>Please cancel my account</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>43</td>
            <td>John Appleseed</td>
            <td>Why isn't this working?</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>44</td>
            <td>Joe Montana</td>
            <td>Help me!</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>45</td>
            <td>Jack</td>
            <td>Please cancel my account</td>
        </tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>44</td>
            <td>Joe Montana</td>
            <td>Help me!</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>45</td>
            <td>Jack</td>
            <td>Please cancel my account</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>43</td>
            <td>John Appleseed</td>
            <td>Why isn't this working?</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>44</td>
            <td>Joe Montana</td>
            <td>Help me!</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td>Jan-19 2012</td>
            <td>45</td>
            <td>Jack</td>
            <td>Please cancel my account</td>
        </tr>
    </tbody>
</table>
<!-- Pagination Station -->
<div class="pagination">
    <ul>
        <li class="prev disabled"><a href="#">&larr; Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li class="disabled"><a href="#">...</a></li>
        <li><a href="#">98</a></li>
        <li><a href="#">99</a></li>
        <li><a href="#">100</a></li>
        <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>
</div>
</div>
        
<!-- Second column -->
  <div class="span5">
    <div class="right_box">
      <div class="header">Ticket Information<div class="button">Manage</div></div>
      <div class="content"><p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p></div>
    </div> 
    <div class="right_box">
      <div class="header">Recent Forum Posts<div class="button">More</div></div>
      <div class="content"><p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p></div>
    </div> 
    <div class="right_box">
      <div class="header">Statistics<div class="button">More</div></div>
      <div class="content"><p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p></div>
    </div>
  </div>
</div>

    <!-- Footer -->
      <footer>
        <p>&copy; Simple Support 2012</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>