<table>
	<tr>
		<td>Message</td>
		<td>User</td>
		<td>&nbsp;</td>
	</tr>
	<% for discussion in @discussions %>
		<tr>
			<td><%= link_to discussion.title, [:admin, discussion] %></td>
			<td><%= discussion.user.email %></td>
			<td><%= link_to "[X]", [:admin, discussion], :method => :delete %></td>
		</tr>
	<% end %>
</table>
